# if else elif statements

In [1]:
l = int(input("Enter the Lenght:"))
b = int(input("Enter the Breadth:"))
if l == b:
    print("it is a square")
else:
    print("it is a rectangle")

Enter the Lenght:45
Enter the Breadth:56
it is a rectangle

In [2]:
a = int(input("Enter the number:"))
b = int(input("Enter the number:"))
print("a is greater than b") if a > b else print("a is equal to b") if a == b else print("b is greater than a")

Enter the number:4
Enter the number:4
a is equal to b

# pass continue break statements

In [3]:
for x in [20,24,546,43,44,67]:
    if x%2 == 0:
        pass
    else:
        print(x)

43
67

In [4]:
for val in "string":
    if val == "i":
        continue
    print(val)
print("the end")

s
t
r
n
g
the end

In [5]:
for val in "string":
    if val == "i":
        pass
    print(val)
print("the end")

s
t
r
i
n
g
the end

In [6]:
for val in "string":
    if val == "i":
        break
    print(val)
print("the end")

s
t
r
the end

# SOME QUESTION

In [7]:
num = int(input("Enter the number: "))
n = num
fact=1
while num > 1:
    fact = fact * num
    num = num - 1
print(f"Factorial of {n} is =",fact)

Enter the number: 5
Factorial of 5 is = 120

In [8]:
for i in range(4,20,2):
    print(i,end = ' ')

4 6 8 10 12 14 16 18

In [9]:
num = int(input("Enter the number: "))
s=0
for i in range(1,num+1):
    s+=i
print("sum is =",s)

Enter the number: 5
sum is = 15

In [1]:
num = int(input("Enter the number: "))
s=0
while num > 0:
    s+=num
    num-=1
print("sum is =",s)

Enter the number: 5
sum is = 15

# LIST

In [13]:
thislist = ["apple","banana","cherry"]
print(thislist)
thislist[1:3] = ["blackcurrant","watermelon"]
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'blackcurrant', 'watermelon']

In [14]:
print(thislist)

thislist.insert(2,"nikhar")
print(thislist)

['apple', 'blackcurrant', 'watermelon']
['apple', 'blackcurrant', 'nikhar', 'watermelon']

In [15]:
print(thislist)
thislist.append("Guava")
print(thislist)

['apple', 'blackcurrant', 'nikhar', 'watermelon']
['apple', 'blackcurrant', 'nikhar', 'watermelon', 'Guava']

In [16]:
a = ["apple", "banana", "cherry"]
b = ["blackcurrant","watermelon"]
print(a)
a.extend(b)
print(a)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'blackcurrant', 'watermelon']

In [19]:
a = []
n = int(input("Enter no of elements you want to enter:"))
for i in range(n):
    ele=input()
    a.append(ele)
print("untouched list:",a)
a.sort()
print("list in ascending:",a)
a.sort(reverse = True)
print("list in descending:",a)

Enter no of elements you want to enter:5
5
56.4
tim
789
hi
untouched list: ['5', '56.4', 'tim', '789', 'hi']
list in ascending: ['5', '56.4', '789', 'hi', 'tim']
list in descending: ['tim', 'hi', '789', '56.4', '5']

In [22]:
a = ["hi","hello",4,56,89]
b = []
for i in a:
    if()

TypeError: '<' not supported between instances of 'int' and 'str'

# List comprehension

In [23]:
a = [34,3,6,7,5,2,1,0,45]
b = [x for x in a if x<5]
print(b)

[3, 2, 1, 0]

In [24]:
a = [x for x in range(10) if x < 5]
print(a)

[0, 1, 2, 3, 4]

In [25]:
a = [x for x in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
a = [x for x in range(1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuples

In [29]:
thistuple = ("apple","banana","cherry","blackcurrant","watermelon","guava","orange")
print(thistuple[-3:1])
print(thistuple[1:-3])

()
('banana', 'cherry', 'blackcurrant')

In [35]:
aa = ('my', 'name', 'is', 'mr', 'tuple')
bb = list(aa)
print(aa)
print(bb)

TypeError: 'list' object is not callable

In [38]:
tup1 = ("a","b","c")
tup2 = (1,2,3)

tup3 = tup1+tup2
print(tup3)

('a', 'b', 'c', 1, 2, 3)