In [4]:
1#Python Program to Convert Kilometers to Miles

a = int(input("Enter the Kilometer:"))
b = 1.609
print(f"{a} kilometer is equal to",(a / b),"miles.")

Enter the Kilometer:5
5 kilometer is equal to 3.107520198881293 miles.

In [4]:
2#Python Program to Convert Celsius To Fahrenheit

c = float(input("Enter the temperature in Celsius: "))
f = (c * 1.8) + 32
print(f"Temperature in Celsius={c} degree \nTemperature in Fahrenheit={f} degree")

Enter the temperature in Celsius: 35
Temperature in Celsius=35.0 degree
Temperature in Fahrenheit=95.0 degree

In [5]:
3#Python Program to Check if a Number is Positive, Negative or 0

a = int(input("Enter the number:"))
print("Number is postive") if a > 0 else print("Number is Negative") if a < 0 else print("Number is zero") #Short hand if else

Enter the number:89
Number is postive

In [6]:
4#Python Program to Check if a Number is Odd or Even
a = int(input("Enter the number:"))
print("Even Number") if a%2==0 else print("Odd Number") # Again used short hand if else

Enter the number:44
Even Number

In [7]:
5#Python Program to Check Leap Year

y = int(input("Enter a year: "))

if (y % 4) == 0:
   if (y % 100) == 0:
       if (y % 400) == 0:
           print("{} is a leap year".format(y))
       else:
           print("{} is not a leap year".format(y))
   else:
       print("{} is a leap year".format(y))
else:
   print("{} is not a leap year".format(y))

Enter a year: 2000
2000 is a leap year

In [8]:
6#Python Program to Find the Largest Among Three Numbers

a = int(input("Enter a 1st number: "))
b = int(input("Enter a 2nd number: "))
c = int(input("Enter a 3rd number: "))
print("\nThe Three Numbers are: {0} {1} {2} ".format(a,b,c))
if a>b and a>c:
  print(f"largest number is 8{a}")
elif b>a and b>c:
  print(f"largest number is {b}")
else:
  print(f"largest number is {c}")

Enter a 1st number: 45
Enter a 2nd number: 99
Enter a 3rd number: 32

The Three Numbers are: 45 99 32
largest number is 99

In [9]:
7#Write a Python Program to check if a number is prime or not

num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(f"{num} is not a prime number")   
           break  
   else:  
       print(f"{num} is a prime number")  
else:  
   print(f"{num} is not a prime number")

Enter a number: 11
11 is a prime number

In [10]:
8#Python program to display all the prime numbers within an interval


l = int(input("Enter the lower range for interval: "))
h = int(input("Enter the high range for interval: "))

print("\nPrime numbers between", l, "and", h, "are:")

for num in range(l, h + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
             break
       else:
           print(num)

Enter the lower range for interval: 1
Enter the high range for interval: 10

Prime numbers between 1 and 10 are:
2
3
5
7

In [11]:
9#Python program to find the factorial of a number.

n = int(input("Enter the number: "))
fact = 1
for i in range(1,n+1):
  fact=fact*i
print(f"factorial of {n} is =",fact)

Enter the number: 5
factorial of 5 is = 120

In [12]:
10#Python Program to Display the multiplication Table.
n = int(input("Enter the number: "))
print(f"Table of {n} is below")
for i in range(1,11):
  print(f"{n} X {i} =",n*i)

Enter the number: 5
Table of 5 is below
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [13]:
11#Python Program to Print the Fibonacci sequence
n = int(input("Enter the number to print nth fibonacci sequence: "))
n1 = 0
n2 = 1
count = 2
if n < 0:
  print("Incorrect Input")
elif n == 1:
  print("Fibonacci sequence:",n1)
else:
  print("Fibonacci sequence:",n1,",",n2,end=', ')
  while count<n:
    nth = n1+n2
    print(nth,end=',')
    n1=n2
    n2=nth
    count+=1

Enter the number to print nth fibonacci sequence: 10
Fibonacci sequence: 0 , 1, 1,2,3,5,8,13,21,34,

In [1]:
12#Python Program to Check Armstrong Number (for 3 digits)

n = int(input("Enter the number: "))
sum = 0
temp = n
while temp > 0:
    d = temp % 10
    sum+= d ** 3
    temp = temp // 10
if n == sum:
    print(f"{n} is an armstrong number")
else:
    print(f"{n} is not an armstrong number")

Enter the number: 153
153 is an armstrong number

In [6]:
13# Find the sum of the cube of each digit

n = int(input("Enter the number: "))
temp = n
sum = 0
while temp > 0:
    d = temp % 10
    temp = temp // 10
    sum+= d**3
print("Sum = ",sum)

Enter the number: 455
Sum =  314

In [8]:
14#Python Program to Find Armstrong Number in an Interval

l = int(input("Enter lower range: "))  
u = int(input("Enter upper range: "))
print(f"Armstrong Number from {l} to {u} is:")  
for num in range(l,u + 1):
    sum = 0
    temp = num  
    while temp > 0:
        digit = temp % 10
        sum+= digit ** 3
        temp//= 10
        if num == sum:  
            print(num,end = ' ')

Enter lower range: 100
Enter upper range: 500
Armstrong Number from 100 to 500 is:
125 153 216 370 371 407

In [9]:
15#Python Program to Find the Sum of Natural Numbers

n = int(input("Enter the range to find sum of n numbers: "))
sum = 0
for i in range(1,n+1):
    sum+=i
print(f"sum of first {n} Natural number is:",sum)

Enter the range to find sum of n numbers: 5
sum of first 5 Natural number is: 15

In [11]:
16#Python Program To Display Powers of 2 Using Anonymous

n = int(input("Enter the range to print: "))
result = list(map(lambda x: 2 ** x, range(n)))
for i in range(n):
   print("2 to the power",i,"is",result[i])

Enter the range to print: 10
2 to the power 0 is 1
2 to the power 1 is 2
2 to the power 2 is 4
2 to the power 3 is 8
2 to the power 4 is 16
2 to the power 5 is 32
2 to the power 6 is 64
2 to the power 7 is 128
2 to the power 8 is 256
2 to the power 9 is 512